* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pt Sans", "Sans Serif";
}

html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

body {
    background: linear-gradient(black, rgb(31, 31, 31))
}

#navbar-container {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    width: 90vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;

}


.navbar a {
    font-weight: 500;
    position: relative;
    text-decoration: none;
    transition: 300ms;
}

.navbar a:hover {
background-color: rgba(217, 251, 251, 0.067);

}


.follower {
    position: absolute;
    width: 30px; /* Circle diameter */
    height: 30px; /* Circle diameter */
    border: 2px solid white; /* Circle border */
    border-radius: 50%;
    pointer-events: none; /* Make sure the circle doesn't block pointer events */
    transform: translate(-50%, -50%); /* Center the circle on the pointer */
    transition: transform 0.05s; /* Smooth the movement */}


/*BRACKET HOOVER SECTION*/

.navbar a:hover::before{
    content: "[ ";
    position: absolute;
    left: -20px;
}


.navbar a:hover::after {
    opacity: 1;
    content: "] ";
    position: absolute;
    right: -20px;
}



/*SECTION -----------------> */

#hero-section-container {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    text-align: center;
}

.header h1 {
    text-transform: uppercase;
}

.empty-text {
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);

}

.header p {
    text-transform: uppercase;
    font-size: 24px;


}